body .container .jumbotron {
  background: linear-gradient(#F66, red);
}

.span12 {
  background-color: white;
  border-radius: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  cursor: pointer;
}

.card {
  color: white;
  background: linear-gradient(black, red);
  border-radius: 6px;
  border: 3px solid white;
}
